In [53]:
!pip install xgboost

Requirement already satisfied: xgboost in c:\users\joela\anaconda3\lib\site-packages (1.7.5)
Requirement already satisfied: numpy in c:\users\joela\anaconda3\lib\site-packages (from xgboost) (1.21.5)
Requirement already satisfied: scipy in c:\users\joela\anaconda3\lib\site-packages (from xgboost) (1.9.1)

In [60]:
!pip install hyperopt

Collecting hyperopt
  Downloading hyperopt-0.2.7-py2.py3-none-any.whl (1.6 MB)
     ---------------------------------------- 1.6/1.6 MB 475.0 kB/s eta 0:00:00
Requirement already satisfied: six in c:\users\joela\anaconda3\lib\site-packages (from hyperopt) (1.16.0)
Requirement already satisfied: numpy in c:\users\joela\anaconda3\lib\site-packages (from hyperopt) (1.21.5)
Requirement already satisfied: tqdm in c:\users\joela\anaconda3\lib\site-packages (from hyperopt) (4.64.1)
Requirement already satisfied: cloudpickle in c:\users\joela\anaconda3\lib\site-packages (from hyperopt) (2.0.0)
Collecting py4j
  Downloading py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
     ------------------------------------ 200.5/200.5 kB 809.5 kB/s eta 0:00:00
Requirement already satisfied: networkx>=2.2 in c:\users\joela\anaconda3\lib\site-packages (from hyperopt) (2.8.4)
Requirement already satisfied: scipy in c:\users\joela\anaconda3\lib\site-packages (from hyperopt) (1.9.1)
Requirement already satisfied: future in c:\users\joela\anaconda3\lib\site-packages (from hyperopt) (0.18.2)
Requirement already satisfied: colorama in c:\users\joela\anaconda3\lib\site-packages (from tqdm->hyperopt) (0.4.5)
Installing collected packages: py4j, hyperopt
Successfully installed hyperopt-0.2.7 py4j-0.10.9.7

In [61]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn import tree, svm
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB, MultinomialNB
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_curve, auc, roc_auc_score, f1_score
from sklearn.inspection import permutation_importance

import xgboost as xgb
from xgboost import XGBClassifier, plot_importance
from hyperopt import fmin, hp, tpe

In [9]:
from IPython.display import IFrame

df_variables_info = IFrame("NHANES 2013-2014 Demographics Variable List.pdf", width=900, height=800)
df_variables_info

Questions i am going to try to answer with the dataSet is :


1. What is the prevalence of vitamin D deficiency among adults in the U.S., and how does this vary by age, gender, and race/ethnicity?
2. What is the relationship between sleep duration and health outcomes like diabetes, hypertension, and obesity among adults in the U.S.?
3. What is the association between physical activity levels and mental health outcomes like depression and anxiety among adults in the U.S.?
4. What is the prevalence of food insecurity among children in the U.S., and what factors are associated with increased risk of food insecurity?
5. What is the relationship between dietary patterns and risk of chronic conditions like cardiovascular disease and cancer among adults in the U.S.?
6. What is the prevalence of hearing loss among adults in the U.S., and how does this vary by age, gender, and race/ethnicity?
7. What is the association between exposure to environmental toxins like phthalates and bisphenol A and health outcomes like diabetes and hypertension among adults in the U.S.?
8. What is the prevalence of dental caries among children in the U.S., and what factors are associated with increased risk of dental caries?

# Q1/ What is the prevalence of vitamin D deficiency among adults in the U.S., and how does this vary by age, gender, and race/ethnicity?

- You can use the laboratory dataset to obtain information on serum vitamin D levels.
- The demographic dataset can be used to stratify the data by age, gender, and race/ethnicity.
- Analyze the data to determine the prevalence of vitamin D deficiency and how it varies by age, gender, and race/ethnicity.

In [31]:
demo = pd.read_csv('demographic.csv')
diet = pd.read_csv('diet.csv')
exam = pd.read_csv('examination.csv')
labs = pd.read_csv('labs.csv')
ques = pd.read_csv('questionnaire.csv')

exam.drop(['SEQN'], axis = 1, inplace=True)
demo.drop(['SEQN'], axis = 1, inplace=True)
diet.drop(['SEQN'], axis = 1, inplace=True)
ques.drop(['SEQN'], axis = 1, inplace=True)

df = pd.concat([labs, exam], axis=1, join='inner')
df = pd.concat([df, demo], axis=1, join='inner')
df = pd.concat([df, diet], axis=1, join='inner')
df = pd.concat([df, ques], axis=1, join='inner')

In [32]:
df.head()

,SEQN,URXUMA,URXUMS,URXUCR.x,URXCRS,URDACT,WTSAF2YR.x,LBXAPB,LBDAPBSI,LBXSAL,...,WHD080U,WHD080L,WHD110,WHD120,WHD130,WHD140,WHQ150,WHQ030M,WHQ500,WHQ520
0,73557,4.3,4.3,39.0,3447.6,11.03,NaN,NaN,NaN,4.1,...,NaN,40.0,270.0,200.0,69.0,270.0,62.0,NaN,NaN,NaN
1,73558,153.0,153.0,50.0,4420.0,306.00,NaN,NaN,NaN,4.7,...,NaN,NaN,240.0,250.0,72.0,250.0,25.0,NaN,NaN,NaN
2,73559,11.9,11.9,113.0,9989.2,10.53,142196.890197,57.0,0.57,3.7,...,NaN,NaN,180.0,190.0,70.0,228.0,35.0,NaN,NaN,NaN
3,73560,16.0,16.0,76.0,6718.4,21.05,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3.0,3.0
4,73561,255.0,255.0,147.0,12994.8,173.47,142266.006548,92.0,0.92,4.3,...,NaN,NaN,150.0,135.0,67.0,170.0,60.0,NaN,NaN,NaN

In [33]:
df.tail()

,SEQN,URXUMA,URXUMS,URXUCR.x,URXCRS,URDACT,WTSAF2YR.x,LBXAPB,LBDAPBSI,LBXSAL,...,WHD080U,WHD080L,WHD110,WHD120,WHD130,WHD140,WHQ150,WHQ030M,WHQ500,WHQ520
9808,83727,1.9,1.9,47.0,4154.8,4.04,67775.162806,88.0,0.88,4.9,...,NaN,NaN,130.0,122.0,NaN,168.0,48.0,NaN,NaN,NaN
9809,83728,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9810,83729,6.0,6.0,117.0,10342.8,5.13,NaN,NaN,NaN,4.1,...,NaN,NaN,NaN,210.0,NaN,260.0,20.0,NaN,NaN,NaN
9811,83730,4.5,4.5,86.0,7602.4,5.23,NaN,NaN,NaN,NaN,...,NaN,NaN,120.0,100.0,NaN,125.0,42.0,NaN,NaN,NaN
9812,83731,5.3,5.3,114.0,10077.6,4.65,NaN,NaN,NaN,NaN,...,NaN,NaN,113.0,120.0,66.0,150.0,18.0,NaN,NaN,NaN

In [35]:
df = pd.concat([df1, df2], axis=0)
for col in df.columns:
    print(col)
print(f"Number of columns: {df.shape[1]}")

SEQN
SDDSRVYR
RIDSTATR
RIAGENDR
RIDAGEYR
RIDAGEMN
RIDRETH1
RIDRETH3
RIDEXMON
RIDEXAGM
DMQMILIZ
DMQADFC
DMDBORN4
DMDCITZN
DMDYRSUS
DMDEDUC3
DMDEDUC2
DMDMARTL
RIDEXPRG
SIALANG
SIAPROXY
SIAINTRP
FIALANG
FIAPROXY
FIAINTRP
MIALANG
MIAPROXY
MIAINTRP
AIALANGA
DMDHHSIZ
DMDFMSIZ
DMDHHSZA
DMDHHSZB
DMDHHSZE
DMDHRGND
DMDHRAGE
DMDHRBR4
DMDHREDU
DMDHRMAR
DMDHSEDU
WTINT2YR
WTMEC2YR
SDMVPSU
SDMVSTRA
INDHHIN2
INDFMIN2
INDFMPIR
URXUMA
URXUMS
URXUCR.x
URXCRS
URDACT
WTSAF2YR.x
LBXAPB
LBDAPBSI
LBXSAL
LBDSALSI
LBXSAPSI
LBXSASSI
LBXSATSI
LBXSBU
LBDSBUSI
LBXSC3SI
LBXSCA
LBDSCASI
LBXSCH
LBDSCHSI
LBXSCK
LBXSCLSI
LBXSCR
LBDSCRSI
LBXSGB
LBDSGBSI
LBXSGL
LBDSGLSI
LBXSGTSI
LBXSIR
LBDSIRSI
LBXSKSI
LBXSLDSI
LBXSNASI
LBXSOSSI
LBXSPH
LBDSPHSI
LBXSTB
LBDSTBSI
LBXSTP
LBDSTPSI
LBXSTR
LBDSTRSI
LBXSUA
LBDSUASI
LBXWBCSI
LBXLYPCT
LBXMOPCT
LBXNEPCT
LBXEOPCT
LBXBAPCT
LBDLYMNO
LBDMONO
LBDNENO
LBDEONO
LBDBANO
LBXRBCSI
LBXHGB
LBXHCT
LBXMCVSI
LBXMCHSI
LBXMC
LBXRDW
LBXPLTSI
LBXMPSI
URXUCL
WTSA2YR.x
LBXSCU
LBDSCUSI
LBXSSE
LBDSSESI
LBXSZN
LBDSZNSI
URXUCR.y
WTSB2YR.x
URXBP3
URDBP3LC
URXBPH
URDBPHLC
URXBPF
URDBPFLC
URXBPS
URDBPSLC
URXTLC
URDTLCLC
URXTRS
URDTRSLC
URXBUP
URDBUPLC
URXEPB
URDEPBLC
URXMPB
URDMPBLC
URXPPB
URDPPBLC
URX14D
URD14DLC
URXDCB
URDDCBLC
URXUCR
PHQ020
PHACOFHR
PHACOFMN
PHQ030
PHAALCHR
PHAALCMN
PHQ040
PHAGUMHR
PHAGUMMN
PHQ050
PHAANTHR
PHAANTMN
PHQ060
PHASUPHR
PHASUPMN
PHAFSTHR.x
PHAFSTMN.x
PHDSESN
LBDPFL
LBDWFL
LBDHDD
LBDHDDSI
LBXHA
LBXHBS
LBXHBC
LBDHBG
LBDHD
LBXHCR
LBXHCG
LBDHEG
LBDHEM
LBXHE1
LBXHE2
LBXGH
LBDHI
ORXGH
ORXGL
ORXH06
ORXH11
ORXH16
ORXH18
ORXH26
ORXH31
ORXH33
ORXH35
ORXH39
ORXH40
ORXH42
ORXH45
ORXH51
ORXH52
ORXH53
ORXH54
ORXH55
ORXH56
ORXH58
ORXH59
ORXH61
ORXH62
ORXH64
ORXH66
ORXH67
ORXH68
ORXH69
ORXH70
ORXH71
ORXH72
ORXH73
ORXH81
ORXH82
ORXH83
ORXH84
ORXHPC
ORXHPI
ORXHPV
LBDRPCR.x
LBDRHP.x
LBDRLP.x
LBDR06.x
LBDR11.x
LBDR16.x
LBDR18.x
LBDR26.x
LBDR31.x
LBDR33.x
LBDR35.x
LBDR39.x
LBDR40.x
LBDR42.x
LBDR45.x
LBDR51.x
LBDR52.x
LBDR53.x
LBDR54.x
LBDR55.x
LBDR56.x
LBDR58.x
LBDR59.x
LBDR61.x
LBDR62.x
LBDR64.x
LBDR66.x
LBDR67.x
LBDR68.x
LBDR69.x
LBDR70.x
LBDR71.x
LBDR72.x
LBDR73.x
LBDR81.x
LBDR82.x
LBDR83.x
LBDR84.x
LBDR89.x
LBDRPI.x
LBXHP2C
LBDRPCR.y
LBDRHP.y
LBDRLP.y
LBDR06.y
LBDR11.y
LBDR16.y
LBDR18.y
LBDR26.y
LBDR31.y
LBDR33.y
LBDR35.y
LBDR39.y
LBDR40.y
LBDR42.y
LBDR45.y
LBDR51.y
LBDR52.y
LBDR53.y
LBDR54.y
LBDR55.y
LBDR56.y
LBDR58.y
LBDR59.y
LBDR61.y
LBDR62.y
LBDR64.y
LBDR66.y
LBDR67.y
LBDR68.y
LBDR69.y
LBDR70.y
LBDR71.y
LBDR72.y
LBDR73.y
LBDR81.y
LBDR82.y
LBDR83.y
LBDR84.y
LBDR89.y
LBDRPI.y
WTSAF2YR.y
LBXIN
LBDINSI
PHAFSTHR.y
PHAFSTMN.y
URXUIO
WTSAF2YR
LBXTR
LBDTRSI
LBDLDL
LBDLDLSI
WTSH2YR.x
LBXIHG
LBDIHGSI
LBDIHGLC
LBXBGE
LBDBGELC
LBXBGM
LBDBGMLC
WTSOG2YR
LBXGLT
LBDGLTSI
GTDSCMMN
GTDDR1MN
GTDBL2MN
GTDDR2MN
GTXDRANK
PHAFSTHR
PHAFSTMN
GTDCODE
WTSA2YR.y
URXP01
URDP01LC
URXP02
URDP02LC
URXP03
URDP03LC
URXP04
URDP04LC
URXP06
URDP06LC
URXP10
URDP10LC
URXP25
URDP25LC
WTSA2YR
URXUP8
URDUP8LC
URXNO3
URDNO3LC
URXSCN
URDSCNLC
WTSB2YR.y
LBXPFDE
LBDPFDEL
LBXPFHS
LBDPFHSL
LBXMPAH
LBDMPAHL
LBXPFBS
LBDPFBSL
LBXPFHP
LBDPFHPL
LBXPFNA
LBDPFNAL
LBXPFUA
LBDPFUAL
LBXPFDO
LBDPFDOL
WTSB2YR
URXCNP
URDCNPLC
URXCOP
URDCOPLC
URXECP
URDECPLC
URXMBP
URDMBPLC
URXMC1
URDMC1LC
URXMEP
URDMEPLC
URXMHH
URDMHHLC
URXMHNC
URDMCHLC
URXMHP
URDMHPLC
URXMIB
URDMIBLC
URXMNP
URDMNPLC
URXMOH
URDMOHLC
URXMZP
URDMZPLC
LBXTC
LBDTCSI
LBXTTG
LBXEMA
WTSH2YR.y
LBXBPB
LBDBPBSI
LBDBPBLC
LBXBCD
LBDBCDSI
LBDBCDLC
LBXTHG
LBDTHGSI
LBDTHGLC
LBXBSE
LBDBSESI
LBDBSELC
LBXBMN
LBDBMNSI
LBDBMNLC
URXUTRI
URXUAS3
URDUA3LC
URXUAS5
URDUA5LC
URXUAB
URDUABLC
URXUAC
URDUACLC
URXUDMA
URDUDALC
URXUMMA
URDUMMAL
URXVOL1
URDFLOW1
URXVOL2
URDFLOW2
URXVOL3
URDFLOW3
URXUHG
URDUHGLC
URXUBA
URDUBALC
URXUCD
URDUCDLC
URXUCO
URDUCOLC
URXUCS
URDUCSLC
URXUMO
URDUMOLC
URXUMN
URDUMNLC
URXUPB
URDUPBLC
URXUSB
URDUSBLC
URXUSN
URDUSNLC
URXUSR
URDUSRLC
URXUTL
URDUTLLC
URXUTU
URDUTULC
URXUUR
URDUURLC
URXPREG
URXUAS
LBDB12
LBDB12SI
Number of columns: 470

In [36]:
# SI columns are duplicate columns that give unit conversions
cols = [c for c in df.columns if c[-2:] != 'SI']
df = df[cols]

In [41]:
df.head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,URDUSRLC,URXUTL,URDUTLLC,URXUTU,URDUTULC,URXUUR,URDUURLC,URXPREG,URXUAS,LBDB12
0,73557,8.0,2.0,1.0,69.0,NaN,4.0,4.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,73558,8.0,2.0,1.0,54.0,NaN,3.0,3.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,73559,8.0,2.0,1.0,72.0,NaN,3.0,3.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,73560,8.0,2.0,1.0,9.0,NaN,3.0,3.0,1.0,119.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,73561,8.0,2.0,2.0,73.0,NaN,3.0,3.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Decoding columns

In [55]:
col_decoder = {
'ACD011A' : 'speak_english',
'AIALANGA' : 'speak_english2',
'ALQ101' : 'drink_alcohol',
'ALQ130' : 'alcohol_per_day',
'AUQ136' : 'ear_infections',
'BMDAVSAD' : 'saggital_abdominal_avg',
'BMXARMC' : 'arm_circum',
'BMXBMI' : 'BMI',
'BMXLEG' : 'leg_length',
'BMXSAD1' : 'saggital_abdominal_1',
'BMXSAD2' : 'saggital_abdominal_2',
'BMXWAIST' : 'waist_circum',
'BMXWT' : 'weight_kg',
'BPQ020' : 'high_bp',
'BPQ056' : 'measure_bp_home',
'BPQ059' : 'measure_bp_doctor',
'BPQ060' : 'cholesterol_checked',
'BPQ070' : 'cholesterol_checked_1y',
'BPQ080' : 'high_cholesterol',
'BPQ090D' : 'cholesterol_prescription',
'BPXDI1' : 'diastolic_bp',
'BPXML1' : 'cuff_max_inflation',
'BPXSY1' : 'blood_pressure_1',
'BPXSY2' : 'blood_pressure_2',
'BPXSY3' : 'blood_pressure_3',
'CBD070' : 'grocery_budget',
'CBD090' : 'nonfood_budget',
'CBD110' : 'food_budget',
'CBD120' : 'restaurant_budget',
'CBD130' : 'food_delivery_budget',
'CBQ505' : 'fast_food',
'CBQ535' : 'saw_nutrition_fast_food',
'CBQ545' : 'use_nutrition_fast_food',
'CBQ550' : 'eat_restaurants',
'CBQ552' : 'eat_chain_restaurants',
'CBQ580' : 'saw_nutrition_restaurant',
'CBQ590' : 'use_nutrition_restaurant',
'CBQ596' : 'saw_my_plate',
'CDQ001' : 'chest_pain_ever',
'CDQ010' : 'short_breath_stairs',
'CSQ030' : 'sensative_smell',
'CSQ100' : 'loss_of_taste',
'CSQ110' : 'taste_in_mouth',
'CSQ202' : 'dry_mouth',
'CSQ204' : 'nasal_congestion',
'CSQ210' : 'wisdom_teeth_removed',
'CSQ220' : 'tonsils_removed',
'CSQ240' : 'head_injury',
'CSQ250' : 'broken_nose',
'CSQ260' : 'sinus_infections',
'DBD100' : 'salt_frequency',
'DBD895' : 'meals_not_homemade',
'DBD900' : 'meals_fast_food',
'DBD905' : 'meals_prepackaged',
'DBD910' : 'frozen_meals_per_month',
'DBQ095Z' : 'salt_type',
'DBQ197' : 'milk_product_per_month',
'DBQ229' : 'milk_drinker',
'DBQ700' : 'healthy_diet',
'DEQ034C' : 'long_sleeve_shirt',
'DEQ034D' : 'use_sunscreen',
'DEQ038G' : 'sunburn_1y',
'DIQ010' : 'diabetes',
'DIQ050' : 'taking_insulin',
'DIQ160' : 'prediabetes',
'DIQ170' : 'diabetes_risk',
'DIQ172' : 'diabetes_concern',
'DIQ180' : 'blood_test_3y',
'DLQ010' : 'deaf',
'DLQ020' : 'blind',
'DLQ040' : 'mental_issues',
'DLQ050' : 'difficulty_walking',
'DLQ060' : 'difficulty_dressing',
'DLQ080' : 'difficulty_errands',
'DMDBORN4' : 'born_in_us2',
'DMDHHSIZ' : 'people_in_house',
'DMDHHSZB' : 'children_in_house',
'DMDHHSZE' : 'people_over_60_in_house',
'DMDHRBR4' : 'born_in_us',
'DMDHRGND' : 'gender2',
'DMDMARTL' : 'Marital_Status',
'DMDYRSUS' : 'years_in_US',
'DPQ010' : 'no_interest_2w',
'DPQ020' : 'depression',
'DPQ030' : 'trouble_sleeping_2w',
'DPQ040' : 'fatigue_2w',
'DPQ050' : 'eating_problems_2w',
'DPQ060' : 'feel_bad_2w',
'DPQ070' : 'trouble_concentrating_2w',
'DPQ080' : 'speaking_problems_2w',
'DPQ090' : 'suicidal_2w',
'DPQ100' : 'depression_difficulty',
'DR1.320Z' : 'water',
'DR1_320Z' : 'plain_water_yesterday',
'DR1_330Z' : 'tap_water_yesterday',
'DR1BWATZ' : 'bottled_water_yesterday',
'DR1HELPD' : 'interview_help',
'DR1TACAR' : 'dietary_alpha_carotene',
'DR1TALCO' : 'alcohol',
'DR1TATOC' : 'dietary_vitamin_e',
'DR1TBCAR' : 'dietary_beta_carotene',
'DR1TCAFF' : 'caffeine',
'DR1TCALC' : 'dietary_calcium',
'DR1TCARB' : 'carb',
'DR1TCHL' : 'dietary_choline',
'DR1TCHOL' : 'cholesterol',
'DR1TCOPP' : 'dietary_copper',
'DR1TCRYP' : 'dietary_beta_cryptoxanthin',
'DR1TFA' : 'dietary_folic_acid',
'DR1TFF' : 'folate_food',
'DR1TFIBE' : 'fiber',
'DR1TFOLA' : 'dietary_folate',
'DR1TIRON' : 'dietary_iron',
'DR1TKCAL' : 'calories',
'DR1TLYCO' : 'dietary_lycopene',
'DR1TLZ' : 'dietary_lutein',
'DR1TM181' : 'octadecenoic_percent',
'DR1TMAGN' : 'magnesium',
'DR1TMFAT' : 'monounsaturated_fats',
'DR1TMOIS' : 'moisture',
'DR1TNIAC' : 'dietary_niacin',
'DR1TP183' : 'octadecatrienoic_percent',
'DR1TPHOS' : 'dietary_phosphorus',
'DR1TPOTA' : 'dietary_potassium',
'DR1TPROT' : 'protein',
'DR1TRET' : 'dietary_retinol',
'DR1TS140' : 'tetradeconoic_percent',
'DR1TSELE' : 'dietary_selenium',
'DR1TSODI' : 'sodium',
'DR1TSUGR' : 'sugar',
'DR1TTFAT' : 'fat',
'DR1TTHEO' : 'dietary_theobromine',
'DR1TVARA' : 'dietary_vitamin_a',
'DR1TVB1' : 'dietary_b1',
'DR1TVB12' : 'dietary_b12',
'DR1TVB2' : 'dietary_b2',
'DR1TVB6' : 'dietary_b6',
'DR1TVC' : 'dietary_vit_c',
'DR1TVD' : 'dietary_vit_d',
'DR1TVK' : 'dietary_vit_k',
'DR1TZINC' : 'dietary_zinc',
'DRABF' : 'breast_fed',
'DRD340' : 'shellfish',
'DRD350A' : 'clams',
'DRD350B' : 'crabs',
'DRD350C' : 'crayfish',
'DRD350D' : 'lobsters',
'DRD350E' : 'mussels',
'DRD350F' : 'oysters',
'DRD350G' : 'scallops',
'DRD350H' : 'shrimp',
'DRD370A' : 'breaded_fish',
'DRD370B' : 'tuna',
'DRD370C' : 'bass',
'DRD370D' : 'catfish',
'DRD370E' : 'cod',
'DRD370F' : 'flatfish',
'DRD370G' : 'haddock',
'DRD370H' : 'mackerel',
'DRD370I' : 'perch',
'DRD370J' : 'pike',
'DRD370K' : 'pollock',
'DRD370L' : 'porgy',
'DRD370M' : 'salmon',
'DRD370N' : 'sardines',
'DRD370O' : 'sea_bass',
'DRD370P' : 'shark',
'DRD370Q' : 'swordfish',
'DRD370R' : 'trout',
'DRD370S' : 'walleye',
'DRD370T' : 'other_fish',
'DRQSDIET' : 'special_diet',
'DRQSDT1' : 'low_cal_diet',
'DRQSDT10' : 'high_protein_diet',
'DRQSDT11' : 'low_gluten_diet',
'DRQSDT12' : 'kidney_diet',
'DRQSDT2' : 'low_fat_diet',
'DRQSDT3' : 'low_salt_diet',
'DRQSDT4' : 'low_sugar_diet',
'DRQSDT5' : 'low_fiber_diet',
'DRQSDT6' : 'high_fiber_diet',
'DRQSDT7' : 'diabetic_diet',
'DRQSDT8' : 'muscle_diet',
'DRQSDT9' : 'low_carb_diet',
'DRQSDT91' : 'other_diet',
'DRQSPREP' : 'salt_used',
'DUQ200' : 'marijuana',
'DUQ370' : 'needle_drugs',
'FSD032A' : 'food_insecure',
'FSD032B' : 'not_enough_food',
'FSD032C' : 'cheap_food',
'FSD032D' : 'cheap_food_children',
'FSD032E' : 'bad_food_children',
'FSD032F' : 'low_food_children',
'FSD151' : 'emergency_food_received',
'FSDAD' : 'food_secure',
'FSDCH' : 'child_food_secure',
'FSDHH' : 'household_food_secure',
'FSQ162' : 'wic_received',
'FSQ165' : 'food_stamps',
'HEQ010' : 'hepetitis_b',
'HEQ030' : 'hepetitis_c',
'HIQ011' : 'health_insurance',
'HIQ210' : 'insurance_gap',
'HIQ270' : 'prescription_insurance',
'HOD050' : 'rooms_in_home',
'HOQ065' : 'homeowner',
'HSAQUEX' : 'health_status_source_data',
'HSD010' : 'general_health',
'HSQ500' : 'ever_had_cold',
'HSQ510' : 'intestinal_illness',
'HSQ520' : 'ever_had_flu',
'HSQ571' : 'donate_blood',
'HSQ590' : 'hiv',
'HUQ010' : 'general_health2',
'HUQ020' : 'health_compared_last_year',
'HUQ030' : 'routine_healthcare',
'HUQ041' : 'healthcare_location',
'HUQ051' : 'dr_visits',
'HUQ071' : 'overnight_hospital',
'HUQ090' : 'mental_health_treatment',
'IMQ011' : 'hepatitis_a_vaccine',
'IMQ020' : 'hepatitis_b_vaccine',
'IND235' : 'monthly_income',
'INDFMMPC' : 'poverty_level_category',
'INDFMMPI' : 'poverty_level_index',
'INDFMPIR' : 'family_income',
'INQ012' : 'self_employ_income',
'INQ020' : 'income_from_wages',
'INQ030' : 'income_from_SS',
'INQ060' : 'disability_income',
'INQ080' : 'retirement_income',
'INQ090' : 'ss_income',
'INQ132' : 'state_assistance_income',
'INQ140' : 'investment_income',
'INQ150' : 'other_income',
'INQ244' : 'family_savings',
'LBDBCDLC' : 'blood_cadmium',
'LBDBGMLC' : 'methyl_mercury',
'LBDHDD' : 'HDL_mg',
'LBDIHGLC' : 'inorganic_mercury',
'LBDNENO' : 'neutrophils_percent',
'LBDTHGLC' : 'blood_mercury',
'LBDWFL' : 'floride_water',
'LBXEOPCT' : 'eosinophils_percent',
'LBXGH' : 'glyco_hemoglobin',
'LBXLYPCT' : 'lymphocite_percent',
'LBXMC' : 'hemoglobin_concentration',
'LBXSAL' : 'blood_albumin',
'LBXSCA' : 'blood_calcium',
'LBXSGL' : 'serum_glucose_mg',
'LBXSTP' : 'blood_protein',
'MCQ010' : 'asthma_ever',
'MCQ025' : 'asthma_age',
'MCQ035' : 'asthma',
'MCQ040' : 'asthma_year',
'MCQ050' : 'asthma_ER',
'MCQ053' : 'anemia',
'MCQ070' : 'psoriasis',
'MCQ080' : 'overweight',
'MCQ082' : 'celiac_disease',
'MCQ086' : 'gluten_free',
'MCQ092' : 'blood_transfusion',
'MCQ149' : 'menstruate',
'MCQ151' : 'menstruate_age',
'MCQ160A' : 'arthritis',
'MCQ160B' : 'congestive_heart_failure',
'MCQ160C' : 'coronary_heart_disease',
'MCQ160D' : 'angina',
'MCQ160E' : 'heart_attack',
'MCQ160F' : 'stroke',
'MCQ160G' : 'emphysema',
'MCQ160K' : 'bronchitis_ever',
'MCQ160L' : 'liver_condition_ever',
'MCQ160M' : 'thyroid_ever',
'MCQ160N' : 'gout',
'MCQ160O' : 'COPD',
'MCQ170K' : 'bronchitis_now',
'MCQ170L' : 'liver_condition',
'MCQ170M' : 'thyroid_now',
'MCQ180A' : 'arthritis_age',
'MCQ180B' : 'heart_failure_age',
'MCQ180C' : 'heart_disease_age',
'MCQ180D' : 'angina_age',
'MCQ180E' : 'heart_attack_age',
'MCQ180F' : 'stroke_age',
'MCQ180G' : 'emphysema_age',
'MCQ180K' : 'bronchitis_age',
'MCQ180L' : 'liver_condition_age',
'MCQ180M' : 'thyroid_age',
'MCQ180N' : 'gout_age',
'MCQ195' : 'arthritis_type',
'MCQ203' : 'jaundice',
'MCQ206' : 'jaundice_age',
'MCQ220' : 'cancer',
'MCQ230A' : 'cancer_type1',
'MCQ230B' : 'cancer_type2',
'MCQ230C' : 'cancer_type3',
'MCQ230D' : 'cancer_type4',
'MCQ240A' : 'bladder_cancer_age',
'MCQ240AA' : 'test_cancer_age',
'MCQ240B' : 'blood_cancer_age',
'MCQ240BB' : 'thyroid_cancer_age',
'MCQ240C' : 'bone_cancer_age',
'MCQ240CC' : 'uterine_cancer_age',
'MCQ240D' : 'brain_cancer_age',
'MCQ240DK' : 'cancer_age',
'MCQ240E' : 'breast_cancer_age',
'MCQ240F' : 'cervical_cancer_age',
'MCQ240G' : 'colon_cancer_age',
'MCQ240H' : 'esoph_cancer_age',
'MCQ240I' : 'gallbladder_cancer_age',
'MCQ240J' : 'kidney_cancer_age',
'MCQ240K' : 'larynx_cancer_age',
'MCQ240L' : 'leukemia_age',
'MCQ240M' : 'liver_cancer_age',
'MCQ240N' : 'lung_cancer_age',
'MCQ240O' : 'lymphoma_age',
'MCQ240P' : 'melanoma_age',
'MCQ240Q' : 'mouth_cancer_age',
'MCQ240R' : 'nervous_cancer_age',
'MCQ240S' : 'ovarian_cancer_age',
'MCQ240T' : 'pancreatic_cancer_age',
'MCQ240U' : 'prostate_cancer_age',
'MCQ240V' : 'rectal_cancer_age',
'MCQ240X' : 'skin_cancer_age',
'MCQ240Y' : 'soft_cancer_age',
'MCQ240Z' : 'stomach_cancer_age',
'MCQ300A' : 'relative_heart_attack',
'MCQ300B' : 'relative_asthma',
'MCQ300C' : 'relative_diabetes',
'MCQ365A' : 'need_weight_loss',
'MCQ365B' : 'need_exercise',
'MCQ365C' : 'need_reduce_salt',
'MCQ365D' : 'need_reduce_calories',
'MCQ370A' : 'losing_weight',
'MCQ370B' : 'excercising',
'MCQ370C' : 'reducing_salt',
'MCQ370D' : 'reducing_fat',
'MGDCGSZ' : 'grip_strength',
'OCD150' : 'work_done',
'OCD270' : 'months_of_work',
'OCD390G' : 'type_of_work',
'OCD395' : 'job_duration',
'OCQ260' : 'non_govt_employee',
'OHQ030' : 'visit_dentist',
'OHQ033' : 'dentist_reason',
'OHQ620' : 'aching_mouth',
'OHQ640' : 'mouth_problems',
'OHQ680' : 'mouth_problems2',
'OHQ770' : 'need_dental',
'OHQ835' : 'gum_disease',
'OHQ845' : 'teeth_health',
'OHQ850' : 'gum_treatment',
'OHQ855' : 'loose_teeth',
'OHQ860' : 'teeth_bone_loss',
'OHQ865' : 'weird_tooth',
'OHQ870' : 'floss',
'OHQ875' : 'use_mouthwash',
'OHQ880' : 'oral_cancer_exam',
'OHQ885' : 'oral_cancer_exam2',
'OSQ060' : 'osteoporosis',
'OSQ130' : 'take_prednisone',
'OSQ230' : 'metal_objects',
'PAAQUEX' : 'question_source',
'PAD680' : 'sedentary_time',
'PAQ605' : 'vigorous_work',
'PAQ620' : 'moderate_work',
'PAQ635' : 'walk_or_bike',
'PAQ650' : 'vigorous_recreation',
'PAQ665' : 'moderate_recreation',
'PAQ710' : 'tv_hours',
'PAQ715' : 'pc_hours',
'PEASCST1' : 'bp_status',
'PEASCTM1' : 'blood_pressure_time',
'PFQ049' : 'work_limitations',
'PFQ051' : 'work_limitations2',
'PFQ054' : 'walk_equipment_required',
'PFQ057' : 'confusion_memory_problems',
'PFQ090' : 'special_healthcare_equipment',
'PUQ100' : 'insecticide_used',
'PUQ110' : 'weedkiller_used',
'RIAGENDR' : 'gender',
'RIDAGEYR' : 'age',
'RIDRETH1' : 'hispanic',
'RXQ510' : 'take_aspirin',
'SEQN' : 'ID',
'SLD010H' : 'sleep_hours',
'SLQ050' : 'trouble_sleeping',
'SLQ060' : 'sleep_disorder',
'SMAQUEX.x' : 'question_mode',
'SMAQUEX.y' : 'question_mode2',
'SMAQUEX2' : 'question_mode3',
'SMD460' : 'smokers_in_house',
'SMDANY' : 'tobaco_1w',
'SMQ681' : 'smoked_1w',
'SMQ851' : 'tobaco2_1w',
'SMQ856' : 'smoked_at_work',
'SMQ858' : 'someone_smoked_at_job',
'SMQ860' : 'smoked_at_restaurant',
'SMQ863' : 'nicotine_1w',
'SMQ866' : 'smoked_at_bar',
'SMQ870' : 'smoked_in_car',
'SMQ872' : 'someone_smoked_in_car',
'SMQ874' : 'smoked_another_home',
'SMQ876' : 'someone_smoked_in_home',
'SMQ878' : 'smoked_other_building',
'SMQ880' : 'someone_smoked_other_building',
'SXD021' : 'sex_ever',
'URXUCR' : 'creatinine_urine',
'WHD010' : 'height_in',
'WHD020' : 'current_weight_lb',
'WHD050' : 'weight_1y',
'WHD110' : 'weight_10y',
'WHD120' : 'weight_age_25',
'WHD140' : 'greatest_weight',
'WHQ030' : 'overweight_self',
'WHQ040' : 'weightloss_desire',
'WHQ070' : 'weightloss_attempt',
'WHQ150' : 'age_when_heaviest'
}
df = df.rename(columns = col_decoder)
labs = labs.rename(columns = col_decoder)
exam = exam.rename(columns = col_decoder)
demo = demo.rename(columns = col_decoder)
diet = diet.rename(columns = col_decoder)
ques = ques.rename(columns = col_decoder)

In [57]:
df.head()

,ID,SDDSRVYR,RIDSTATR,gender,age,RIDAGEMN,hispanic,RIDRETH3,RIDEXMON,RIDEXAGM,...,URDUSRLC,URXUTL,URDUTLLC,URXUTU,URDUTULC,URXUUR,URDUURLC,URXPREG,URXUAS,LBDB12
0,73557,8.0,2.0,1.0,69.0,NaN,4.0,4.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,73558,8.0,2.0,1.0,54.0,NaN,3.0,3.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,73559,8.0,2.0,1.0,72.0,NaN,3.0,3.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,73560,8.0,2.0,1.0,9.0,NaN,3.0,3.0,1.0,119.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,73561,8.0,2.0,2.0,73.0,NaN,3.0,3.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
df.tail()

,ID,SDDSRVYR,RIDSTATR,gender,age,RIDAGEMN,hispanic,RIDRETH3,RIDEXMON,RIDEXAGM,...,URDUSRLC,URXUTL,URDUTLLC,URXUTU,URDUTULC,URXUUR,URDUURLC,URXPREG,URXUAS,LBDB12
9808,83727,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,720.0
9809,83728,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9810,83729,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.135,0.0,0.132,0.0,0.0081,0.0,2.0,9.75,388.0
9811,83730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9812,83731,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.242,0.0,0.932,0.0,0.0061,0.0,NaN,7.25,NaN

In [64]:
for col in df.columns:
    print(col)

ID
SDDSRVYR
RIDSTATR
gender
age
RIDAGEMN
hispanic
RIDRETH3
RIDEXMON
RIDEXAGM
DMQMILIZ
DMQADFC
born_in_us2
DMDCITZN
years_in_US
DMDEDUC3
DMDEDUC2
Marital_Status
RIDEXPRG
SIALANG
SIAPROXY
SIAINTRP
FIALANG
FIAPROXY
FIAINTRP
MIALANG
MIAPROXY
MIAINTRP
speak_english2
people_in_house
DMDFMSIZ
DMDHHSZA
children_in_house
people_over_60_in_house
gender2
DMDHRAGE
born_in_us
DMDHREDU
DMDHRMAR
DMDHSEDU
WTINT2YR
WTMEC2YR
SDMVPSU
SDMVSTRA
INDHHIN2
INDFMIN2
family_income
URXUMA
URXUMS
URXUCR.x
URXCRS
URDACT
WTSAF2YR.x
LBXAPB
blood_albumin
LBXSBU
blood_calcium
LBXSCH
LBXSCK
LBXSCR
LBXSGB
serum_glucose_mg
LBXSIR
LBXSPH
LBXSTB
blood_protein
LBXSTR
LBXSUA
lymphocite_percent
LBXMOPCT
LBXNEPCT
eosinophils_percent
LBXBAPCT
LBDLYMNO
LBDMONO
neutrophils_percent
LBDEONO
LBDBANO
LBXHGB
LBXHCT
hemoglobin_concentration
LBXRDW
URXUCL
WTSA2YR.x
LBXSCU
LBXSSE
LBXSZN
URXUCR.y
WTSB2YR.x
URXBP3
URDBP3LC
URXBPH
URDBPHLC
URXBPF
URDBPFLC
URXBPS
URDBPSLC
URXTLC
URDTLCLC
URXTRS
URDTRSLC
URXBUP
URDBUPLC
URXEPB
URDEPBLC
URXMPB
URDMPBLC
URXPPB
URDPPBLC
URX14D
URD14DLC
URXDCB
URDDCBLC
creatinine_urine
PHQ020
PHACOFHR
PHACOFMN
PHQ030
PHAALCHR
PHAALCMN
PHQ040
PHAGUMHR
PHAGUMMN
PHQ050
PHAANTHR
PHAANTMN
PHQ060
PHASUPHR
PHASUPMN
PHAFSTHR.x
PHAFSTMN.x
PHDSESN
LBDPFL
floride_water
HDL_mg
LBXHA
LBXHBS
LBXHBC
LBDHBG
LBDHD
LBXHCR
LBXHCG
LBDHEG
LBDHEM
LBXHE1
LBXHE2
glyco_hemoglobin
LBDHI
ORXGL
ORXH06
ORXH11
ORXH16
ORXH18
ORXH26
ORXH31
ORXH33
ORXH35
ORXH39
ORXH40
ORXH42
ORXH45
ORXH51
ORXH52
ORXH53
ORXH54
ORXH55
ORXH56
ORXH58
ORXH59
ORXH61
ORXH62
ORXH64
ORXH66
ORXH67
ORXH68
ORXH69
ORXH70
ORXH71
ORXH72
ORXH73
ORXH81
ORXH82
ORXH83
ORXH84
ORXHPC
ORXHPI
ORXHPV
LBDRPCR.x
LBDRHP.x
LBDRLP.x
LBDR06.x
LBDR11.x
LBDR16.x
LBDR18.x
LBDR26.x
LBDR31.x
LBDR33.x
LBDR35.x
LBDR39.x
LBDR40.x
LBDR42.x
LBDR45.x
LBDR51.x
LBDR52.x
LBDR53.x
LBDR54.x
LBDR55.x
LBDR56.x
LBDR58.x
LBDR59.x
LBDR61.x
LBDR62.x
LBDR64.x
LBDR66.x
LBDR67.x
LBDR68.x
LBDR69.x
LBDR70.x
LBDR71.x
LBDR72.x
LBDR73.x
LBDR81.x
LBDR82.x
LBDR83.x
LBDR84.x
LBDR89.x
LBDRPI.x
LBXHP2C
LBDRPCR.y
LBDRHP.y
LBDRLP.y
LBDR06.y
LBDR11.y
LBDR16.y
LBDR18.y
LBDR26.y
LBDR31.y
LBDR33.y
LBDR35.y
LBDR39.y
LBDR40.y
LBDR42.y
LBDR45.y
LBDR51.y
LBDR52.y
LBDR53.y
LBDR54.y
LBDR55.y
LBDR56.y
LBDR58.y
LBDR59.y
LBDR61.y
LBDR62.y
LBDR64.y
LBDR66.y
LBDR67.y
LBDR68.y
LBDR69.y
LBDR70.y
LBDR71.y
LBDR72.y
LBDR73.y
LBDR81.y
LBDR82.y
LBDR83.y
LBDR84.y
LBDR89.y
LBDRPI.y
WTSAF2YR.y
LBXIN
PHAFSTHR.y
PHAFSTMN.y
URXUIO
WTSAF2YR
LBXTR
LBDLDL
WTSH2YR.x
LBXIHG
inorganic_mercury
LBXBGE
LBDBGELC
LBXBGM
methyl_mercury
WTSOG2YR
LBXGLT
GTDSCMMN
GTDDR1MN
GTDBL2MN
GTDDR2MN
GTXDRANK
PHAFSTHR
PHAFSTMN
GTDCODE
WTSA2YR.y
URXP01
URDP01LC
URXP02
URDP02LC
URXP03
URDP03LC
URXP04
URDP04LC
URXP06
URDP06LC
URXP10
URDP10LC
URXP25
URDP25LC
WTSA2YR
URXUP8
URDUP8LC
URXNO3
URDNO3LC
URXSCN
URDSCNLC
WTSB2YR.y
LBXPFDE
LBDPFDEL
LBXPFHS
LBDPFHSL
LBXMPAH
LBDMPAHL
LBXPFBS
LBDPFBSL
LBXPFHP
LBDPFHPL
LBXPFNA
LBDPFNAL
LBXPFUA
LBDPFUAL
LBXPFDO
LBDPFDOL
WTSB2YR
URXCNP
URDCNPLC
URXCOP
URDCOPLC
URXECP
URDECPLC
URXMBP
URDMBPLC
URXMC1
URDMC1LC
URXMEP
URDMEPLC
URXMHH
URDMHHLC
URXMHNC
URDMCHLC
URXMHP
URDMHPLC
URXMIB
URDMIBLC
URXMNP
URDMNPLC
URXMOH
URDMOHLC
URXMZP
URDMZPLC
LBXTC
LBXTTG
LBXEMA
WTSH2YR.y
LBXBPB
LBDBPBLC
LBXBCD
blood_cadmium
LBXTHG
blood_mercury
LBXBSE
LBDBSELC
LBXBMN
LBDBMNLC
URXUTRI
URXUAS3
URDUA3LC
URXUAS5
URDUA5LC
URXUAB
URDUABLC
URXUAC
URDUACLC
URXUDMA
URDUDALC
URXUMMA
URDUMMAL
URXVOL1
URDFLOW1
URXVOL2
URDFLOW2
URXVOL3
URDFLOW3
URXUHG
URDUHGLC
URXUBA
URDUBALC
URXUCD
URDUCDLC
URXUCO
URDUCOLC
URXUCS
URDUCSLC
URXUMO
URDUMOLC
URXUMN
URDUMNLC
URXUPB
URDUPBLC
URXUSB
URDUSBLC
URXUSN
URDUSNLC
URXUSR
URDUSRLC
URXUTL
URDUTLLC
URXUTU
URDUTULC
URXUUR
URDUURLC
URXPREG
URXUAS
LBDB12

In [73]:
if "	LBDVD2LC" in df.columns:
    print("Column found!")
else:
    print("Column not found.")

Column not found.

In [75]:
labs.head()

,ID,URXUMA,URXUMS,URXUCR.x,URXCRS,URDACT,WTSAF2YR.x,LBXAPB,LBDAPBSI,blood_albumin,...,URXUTL,URDUTLLC,URXUTU,URDUTULC,URXUUR,URDUURLC,URXPREG,URXUAS,LBDB12,LBDB12SI
0,73557,4.3,4.3,39.0,3447.6,11.03,NaN,NaN,NaN,4.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,524.0,386.7
1,73558,153.0,153.0,50.0,4420.0,306.00,NaN,NaN,NaN,4.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,507.0,374.2
2,73559,11.9,11.9,113.0,9989.2,10.53,142196.890197,57.0,0.57,3.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,732.0,540.2
3,73560,16.0,16.0,76.0,6718.4,21.05,NaN,NaN,NaN,NaN,...,0.062,0.0,0.238,0.0,0.0071,0.0,NaN,3.83,NaN,NaN
4,73561,255.0,255.0,147.0,12994.8,173.47,142266.006548,92.0,0.92,4.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,225.0,166.1

In [2]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

# Load the trained decision tree model from file
dtc = joblib.load('decision_tree_model.pkl')

# Load and preprocess the new data
new_data = pd.read_csv('new_data.csv')
new_data_processed = pd.get_dummies(new_data, columns=['gender', 'age_group'])

# Make predictions on the new data
y_pred = dtc.predict(new_data_processed)

# Print the predictions
print(y_pred)

NameError: name 'joblib' is not defined